.body{


}
.square{
	float: left;
	position: relative;
	width: 30%;
	padding-bottom: 30%;
	margin: 1.66%;
	overflow: hidden;
	background-color: black;

}
.content{
	position: absolute;
	height: 80%;
	width: 90%;
	padding: 10% 5%;
	background-color: black;

}