
.body{
	max-width: 600px;
	position:relative;



}
.square{
	float: left;
	position: relative;
	width: 30%;
	padding-bottom: 30%;
	margin: 1.66%;
	overflow: hidden;
	background-color: black;
/*	font-family: helvetica;
	font-size: 2em;*/


}
.content{
	position: absolute;
	height: 80%;
	width: 90%;
	padding: 10% 5%;
	background-color: black;
	font-family: helvetica;
	font-size: 2em;
	/*font-size: 2em;*/

}


.pos {
	background-color: white;
	font-family: helvetica;
	font-size: 2em;


}
.scoreboard {
	font-family: 'Playfair Display', serif;
	position: relative;
	/*display: inline-block;*/
	font-size: 2.5vw;
	float: left;
	width: 30%;
	margin: 1.66%;
	overflow: hidden;
	text-align:center

}

.score{
	font-family: 'Playfair Display', serif;
	position: relative;
/*	width: 90%;
*/	/*display: inline-block;*/
	font-size: 5.5vw;
	float: left;
	width: 30%;
	margin: 1.66%;
/*	overflow: hidden;
*/	text-align:center;
}


/*@media only screen and (max-width: 450px) {

   body { font-size: 2em; }

}*/